./*.pdf
FOR3R/*.pdf
T1a/*.pdf
Stærðfræðimynstur/*.pdf

T1a/*verkefni*.tex
Stærðfræðimynstur/*verkefni*.tex

*.nav
*.snm
*.vrb
*.aux
*.log
*.pyg
*.backup
*.out
*.toc
*_minted*
*.save
*BACKUP
*Próf*
*próf*
