

# Hunsa skjöl sem LaTeX þýðandinn býr til
./*.pdf
*/*.pdf

*.nav
*.snm
*.vrb
*.aux
*.log
*.pyg
*.backup
*.out
*.toc
*_minted*
*.save
*BACKUP

# Hunsa próf og sum verkefni

*Próf*
*próf*
T1a/*verkefni*.tex
Mynstur/*verkefni*.tex

# Hunsa ruslskrár frá þróunarumhverfum í T2

T2/Code/.idea/
T2/Code/CMakeLists.txt
T2/Code/cmake-build-debug/
T2/Code/*/.vscode/
T2/Code/*/*
!T2/Code/*/*.cpp
!T2/Code/*/*.txt
